@page
@model AspNetAB.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
}

@*<h1 class="text-center mt-lg-4">@ViewData["Title"]</h1>*@

<div class="text-center mt-lg-4">
    <img src=~/img/contact.jpg class="card-img-top" style="width: 70%; border-radius: 10px; box-shadow: 5px 5px 10px #888"/>
</div>
<div class="text-center mt-4">
    <i class="fa-solid fa-location-arrow"></i><p> Address:<br />ul. Pomorska 140, 91-001 Łódź</p>
</div>
<div class="text-center mt-4">
    <i class="fa-solid fa-phone"></i><p> Phone Number:<br />+48 42 854 26 58</p>
</div>
<div class="text-center mt-4">
    <i class="fa-solid fa-fax"></i><p> Fax:<br />+48 42 854 26 58</p>
</div>
<div class="text-center mt-4">
    <i class="fa-solid fa-envelope"></i><p> Email:<br />moviedatabase@mb.com</p>
</div>
<div class="text-center mt-4">
    <p style="padding-top: 10px;">Do not hesitate - contact us if you have any questions.</p>
</div>


