@page
@*System.Globalization.CultureInfo.CurrentUICulture*@
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    h1 {
        color: black;
        font-size: 3rem;
        margin-top: 30vh;
        font-family: 'Shizuru', cursive;
        transition: font-size 1s;
    }

        h1:hover {
            font-size: 3.5rem;
        }
</style>

<h1 class="text-center align-middle">
    Welcome to the <br />Movie Database
</h1>