@page
@using Microsoft.AspNetCore.Identity
@model AspNetAB.Pages.ListUsersModel
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Users List";
}

<h1>All Users List</h1>

@if (UserManager.Users.Count() > 0)
{
    <a asp-page="/Register" class="btn btn-md btn-primary mb-3" style="width: auto">
        Register New User
    </a>

    foreach (var user in UserManager.Users)
    {
        <div class="card mb-3">
            <div class="card-header">
                User ID : @user.Id
            </div>
            <div class="card-body">
                @*@if(SignInManager.Context.User.Identity.Name == user.UserName)*@
                @if (User.Identity.Name.Equals(user.UserName))
                {
                    <h5 class="card-title" style="color: darkgreen; font-weight: bold">@user.UserName</h5>
                }
                else
                {
                    <h5 class="card-title">@user.UserName</h5>
                }
            </div>
            <div class="card-footer">
                @if (User.Identity.Name.Equals(user.UserName) || User.IsInRole("admin") || User.IsInRole("developer"))
                {
                    <a href="#" class="btn btn-secondary">Edit</a>
                    <a href="#" class="btn btn-danger">Delete</a>
                }
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            No users created yet
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use the button below to create a user
            </h5>
            <a class="btn btn-md btn-primary" style="width: auto" asp-page="/Register">Register New User</a>
        </div>
    </div>
}



